body{
    background-color: blue;
    color: white;
}
.section-wrapper{
    padding: 150px;
    width: 100%; 
    font-family: "Open Sans", sans-serif ;
    
}
.text-items{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
.img-items{
    display: inline-block;
    width: 49%;
    border-radius: 20px;
}
.text-items h1{
    font-size: 45px;
    line-height: 1.4;
    margin-bottom: 50px;
    letter-spacing: 1.2px;

}
.img-items img{
    border-radius: 15px;
}
.text-items p{
    color: rgb(249, 245, 245);
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;

}
.text-items button{
    border: none;
    border-radius: 5px;
    color: blue;
    padding:10px;
    cursor: pointer;
}
